*~
auto-save-list
backups
.cask
.DS_Store
*.elc
elpa
elpa
emms
/ensime/
/history
/ido.last
.places
/projectile-bookmarks.eld
/recentf
session.*
site-lisp/adventur-mode
swank
/.sx/
tramp
/url/
/var/
.yas-compiled-snippets.el
